section {
    background-image: url(https://www.akamai.com/us/en/multimedia/images/intro/2018/big-data-connector-intro.jpg?imwidth=1366);
    background-size: cover;
    height: 100%;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    vertical-align: middle;
}

.text-area {
    text-align: center;
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

.text-area .title {
    font-size: 50px;
    font-weight: 2;
}

.text-area .sub-title {
    margin-top: 30px;   
    font-size: 30px;
    font-weight: 1;
}

.start-button {
    margin-left: auto;
    margin-right: auto;
}

.sub-container {
    margin-top: 10%;
    margin-bottom: 5%;
    vertical-align: middle;

}

.button-container {
    width: 100%;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    
    .sub-container {
        margin-top: 50%;
    }

  }